__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
venv/
env/

.DS_Store
Thumbs.db

log-sim/
sim-logs/
../sim-logs/
*.npz

utils/__pycache__/
vis/__pycache__/
